body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
}


header {
    background-color: #0078d4;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 32px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}


.content {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}


a {
    color: #0078d4;
    text-decoration: none;
}

.mi-boton {
    background-color: #0078d4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.mi-boton:hover {
    background-color: #005b9f;
}

form.create-product-form {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form.create-product-form h1 {
    font-size: 24px;
    text-align: center;
}

form.create-product-form label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

form.create-product-form input[type="text"],
form.create-product-form input[type="number"],
form.create-product-form select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form.create-product-form button[type="submit"] {
    background-color: #0078d4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

form.create-product-form button[type="submit"]:hover {
    background-color: #005b9f;
}


form.create-product-form a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #0078d4;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #0078d4;
    color: #fff;
}

